{% extends "backend/default_layout.html" %}

{% block title %}Accueil{% endblock %}
{% block content %}
    <h2 class="post_title">Index</h2>
    <hr />
    <p>
        Bienvenue sur mon nouveau site web,<br />
        ce site se <span style="text-decoration: line-through">repose entièrement sur WordPress car je n’avais plus le temps de m’occuper du développement du dernier</span>. De plus ce site, et tout particulièrement sa partie blog, se veut orienté développement Web, vous pourrez y retrouver des astuces de programmation, touchant aussi bien au PHP qu’au Javascript en passant par le CSS.
    </p>
    <p>
        Le site est encore en développement, alors soyez patients !
    </p>
{% endblock %}