<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="en" />
	<meta name="robots" content="noindex,nofollow" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{{ STATIC_FOLDER }}admin/css/reset.css" /> <!-- RESET -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{{ STATIC_FOLDER }}admin/css/main.css" /> <!-- MAIN STYLE SHEET -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{{ STATIC_FOLDER }}admin/css/2col.css" title="2col" /> <!-- DEFAULT: 2 COLUMNS -->
        <link rel="alternate stylesheet" media="screen,projection" type="text/css" href="{{ STATIC_FOLDER }}admin/css/1col.css" title="1col" /> <!-- ALTERNATE: 1 COLUMN -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{{ STATIC_FOLDER }}admin/css/style.css" /> <!-- GRAPHIC THEME -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{{ STATIC_FOLDER }}admin/css/jquery.fcbkcomplete.css" /> <!-- FCBK Autocomplete -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{{ STATIC_FOLDER }}admin/css/mystyle.css" /> <!-- WRITE YOUR CSS CODE HERE -->
	<script type="text/javascript" src="{{ STATIC_FOLDER }}admin/js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_FOLDER }}admin/js/jquery.fcbkcomplete.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_FOLDER }}admin/js/switcher.js"></script>
	<script type="text/javascript" src="{{ STATIC_FOLDER }}admin/js/ui.core.js"></script>
	<script type="text/javascript" src="{{ STATIC_FOLDER }}admin/js/ui.tabs.js"></script>
	<script type="text/javascript" src="{{ STATIC_FOLDER }}admin/js/main.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".tabs > ul").tabs();
                $('.tags').fcbkcomplete({
                    json_url: '{{ "json_complete"|u }}',
                    cache: true,
                    filter_selected: true,
                    newel: true
                });
	});
	</script>
	<title>{% block title %}Accueil{% endblock %} - Admin Korri.fr</title>
</head>

<body>

<div id="main">

	<!-- Tray -->
	<div id="tray" class="box">

		<p class="f-left box">

			<!-- Switcher -->
			<span class="f-left" id="switcher">
				<a href="#" rel="1col" class="styleswitch ico-col1" title="Display one column"><img src="{{ STATIC_FOLDER }}admin/design/switcher-1col.gif" alt="1 Column" /></a>
				<a href="#" rel="2col" class="styleswitch ico-col2" title="Display two columns"><img src="{{ STATIC_FOLDER }}admin/design/switcher-2col.gif" alt="2 Columns" /></a>
			</span>

			Project: <strong>Your Project</strong>

		</p>

		<p class="f-right">User: <strong><a href="#">Korri</a></strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><a href="#" id="logout">Log out</a></strong></p>

	</div> <!--  /tray -->

	<hr class="noscreen" />

	<!-- Menu -->
	<div id="menu" class="box">

		<ul class="box f-right">
			<li><a href="{{ BASE_FOLDER }}"><span><strong>Voir le site &raquo;</strong></span></a></li>
		</ul>

		<ul class="box">
			<li id="menu-active"><a href="{{ 'new_article'|u }}"><span>Nouvel article</span></a></li> <!-- Active -->
			<li><a href="{{ 'articles'|u }}"><span>Voir les articles</span></a></li>
		</ul>

	</div> <!-- /header -->

	<hr class="noscreen" />

	<!-- Columns -->
	<div id="cols" class="box">

		<!-- Aside (Left Column) -->
		<div id="aside" class="box">

			<div class="padding box">

				<!-- Search -->
				<form action="{{ 'search'|u }}" method="get" id="search">
					<fieldset>
						<legend>Recherche</legend>

                                                <p><input type="text" size="17" name="" class="input-text" />&nbsp;<input type="submit" value="OK" class="input-submit-02" /></p>

					</fieldset>
				</form>

				<!-- Create a new project -->
				<p id="btn-create" class="box"><a href="{{ 'new_article'|u }}"><span>Nouvel Article</span></a></p>

			</div> <!-- /padding -->

			<ul class="box">
				<li id="submenu-active"><a href="{{ 'articles'|u }}">Articles</a>
                                    <ul>
                                            <li><a href="{{ 'new_article'|u }}">Nouveau</a></li>
                                            <li><a href="{{ 'articles'|u }}">Voir</a></li>
                                    </ul>
                                </li>
				<li><a href="{{ 'comments'|u }}">Commentaires</a>
                                    <ul>
                                            <li><a href="{{ 'comments'|u }}">Moderer</a></li>
                                            <li><a href="{{ 'comments_all'|u }}">Tous</a></li>
                                    </ul>
                                </li>
				<li><a href="{{ 'tags'|u }}">Tags</a></li>
			</ul>

		</div> <!-- /aside -->

		<hr class="noscreen" />

		<!-- Content (Right Column) -->
		<div id="content" class="box">
                    {% if error %}
                    <p class="msg error">
                        {{ error }}
                    </p>
                    {% endif %}
                    {% block content %}
			<h1>ERROR</h1>
                    {% endblock %}

		</div> <!-- /content -->

	</div> <!-- /cols -->

	<hr class="noscreen" />

	<!-- Footer -->
	<div id="footer" class="box">

		<p class="f-left">&copy; 2009 <a href="http://www.korri.fr/">Korri.fr</a>, All Rights Reserved &reg;</p>

	</div> <!-- /footer -->

</div> <!-- /main -->

</body>
</html>