AddDefaultCharset UTF-8
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteBase /Korri2/

RewriteRule ^([^/]+)$ $1/ [R,QSA]
RewriteRule ^([^/]*)\.html$ index.php?p=$1 [L,QSA]
RewriteRule ^([^/]*)/$ index.php?sub=$1 [L,QSA]
RewriteRule ^([^/]*)/([^/]*)\.html$ index.php?p=$2&sub=$1 [L,QSA]